<p class="headtest">Component home works!</p>
<h2>Chào bạn {{name}}</h2>
<input [(ngModel)]="name">
 <br>
<input [(ngModel)]="age" title="Đây là {{name}}"><br>
<div *ngIf="age<=18; then tre; else gia"></div>
<ng-template #gia>Bạn quá già rồi</ng-template>
<ng-template #tre>Bạn còn trẻ lắm</ng-template>
<br>
<button (click)="resetName()">Reset Tên</button>

<ul *ngFor="let item of traicay;let i=index">
    <li>{{i+1}}.{{item}}</li>
</ul>
<table id="customers">
    <tr>
        <th>STT</th>
      <th>Tên </th>
      <th>Giá</th>
    </tr>
    <tr *ngFor="let item of traicay2;let i=index">
        <td>{{i+1}}</td>
      <td>{{item.ten}}</td>
      <td>{{item.gia}}</td>
    </tr>

</table>